html {
    font-family: sans-serif;
    font-size: 16px;
    margin: 10px;
}

nav {
    background: hsl(210, 50%, 50%);
    border-bottom: 10pt solid black;
    padding: 10px;
}

ul#navLinks {
    padding: 0px;
    padding-left: inherit;
}
#navLinks li {
    display: inline;
    margin-right: 100px;
    list-style-type:none;
}

#navLinks a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

#navLinks a:hover {
    text-decoration: underline;
}

#nameDiv {
    height: 350px;
    background-image: url("https://picsum.photos/1200/600/?random");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-left: 20px;
}

h1 {
    color: hsl(210, 51%, 20%);
    font-size: 5rem;
    text-shadow: 2px 2px white;
}

h2 {
    color: hsl(211, 50%, 80%);
    text-shadow: 2px 2px black;
    font-size: 4rem;
}

h3 {
    color: hsl(210, 50%, 60%);
    font-size: 3rem;
}

h4 {
    color: hsl(210, 50%, 60%);
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

main ul {
    list-style-position: inside;
    line-height: 1.5;
    padding: 0px;
}
